.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f9ff;
  padding: 2rem;
}

.login-card {
  display: flex;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

.login-illustration {
  flex: 1;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-illustration img {
  max-width: 109%;
  height: 72%;
}


.login-form-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.login-form p {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.login-form input {
  background-color: #f9f9f9;
  border: 1px solid #dce4ec;
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.login-buttons {
  margin-top: 2rem;
}

.social-button {
  background-color: #f5f5f5;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 0.7rem;
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}

.sent {
  background-color: #64bfd0;
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.sent:hover {
  background-color: #64bfd0;
}

.copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #777;
  text-align: center;
}