/* Contenedor principal en dos columnas */

.container_register {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  min-height: 100vh;
  background-color: #eafcff;
  border-radius: 10px;
}

  .empty-col {
    background-color: #ffffff;

  }

  .right label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
    
}

.right {
  width: 100%;
  max-width: 400px;
  max-height: 800px;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-left: 2px solid #7bf5f5; 
  overflow-y: auto
}

  /* Lado izquierdo con fondo azul */
  .left {
    flex: 1;
    background-color: #e0faff;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Estilo para definir el tamaño de la imagen */
  .logo {
    width: 200px;  
    height: 200px; /* Establecer el tamaño de la imagen */
  }
  
  .login-image {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }


  /* Formulario */
  .signup-form {
    width: 100%;
    max-width: 400px;
  }
  
  .signup-form input,
  .signup-form select,
  .signup-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #5be4e4bd;
    border-radius: 5px;
  }
  
  .signup-form button {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #97dbe7;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    text-align: center;
  }
  
  .signup-form button:hover {
    background-color: #7fcad8;
  }

/* Estilos para los campos de formulario */
.signup-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #5be4e4bd;
    border-radius: 5px;
}

/* Estilos para los botones */
.signup-form-button {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #97dbe7;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    text-align: center;
}

/* Contenedor de los botones */
.button-container {
    display: flex;
    gap: 5rem; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones */
    margin-top: 1rem;
}

/* Estilos para los botones */
.signup-form-button {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #97dbe7;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    text-align: center;
}

.signup-form-button:hover {
    background-color: #7fcad8;
}
  

